body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: .25fr .25fr.5fr 1fr .1fr;
    grid-template-areas: 

    "I TP"
    "AS E"
    "S ED"
    "S PR"
    "F F"
    ;
    ;
    
}

aside{
    grid-area: AS;
    grid-row: span 6;
    background-color: cornflowerblue;
   
}
img{
    background-color: cornflowerblue;
}

li{
    list-style-type:circle;
}
aside li{
    list-style-type: none;
}


header{
    border-top: 0em;
   border-bottom: 2px solid black;
    text-align: center;
    background-color: cornflowerblue;
    
    color: white;
    font-size: 120%;
    
    
}



dt{
    text-decoration: underline;
    font-weight: bold;
}





/* classes */
.subsection{
    font-weight: bold;
    
}

.TP{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: 
    "T"
    "P";

}








/* ids */
#C{
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}
#C>div{
    background-color: red;
    width: 50%;
    height: 20px;
    border-radius: 10px;
}

#CS{
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}
#CS>div{
    background-color: red;
    width: 70%;
    height: 20px;
    border-radius: 10px;
}
#HTML{
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}
#HTML>div{
    background-color: red;
    width: 80%;
    height: 20px;
    border-radius: 10px;
}
#java{
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}
#java>div{
    background-color: red;
    width: 15%;
    height: 20px;
    border-radius: 10px;
}
#figure{
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}
#figure>div{
    background-color: red;
    width: 100%;
    height: 20px;
    border-radius: 10px;
}

#skillsTitle{
    text-align: center;
}
#profile{
    margin-left: 2em;
   
    grid-area: P;
}
#Employment{
    grid-area: E;
    margin-left: 2em;
}
#skills p{
    font-size: 1.2em;
    font: bold;
    
}
#skills{
    
   padding-left: 2px;
   padding-right: 5px;
    grid-area: S;
    grid-row: span auto;
    border-right: 2px solid black;
    background-color: cornflowerblue;
    list-style-type: none;
    
}
#job{
    text-decoration: underline;
    grid-area: E;
    margin-left: 2em;
}
#Education{
    grid-area: ED;
    margin-left: 2em;
}

#side{

    grid-area: AS;
    border-right: 2px solid black;
    list-style-type: none;
    /* display: grid; */

    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr; */
    /* grid-template-areas:  */
    /* "EM PH" */
    /* "IN GI"; */
    /* justify-items: center; */
    /* align-items: center; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    justify-items: center;
    align-items: center;
    
   
}

#Email{
    grid-area: EM;
   
}
#Phone{
    grid-area: PH;
}
#Insta{
    grid-area: IN;
}
#Git
{
    grid-area: GI;
}


#projects
{
    grid-area: PR;
    margin-left: 2em;
}
#profile_pic{
  
   border-right: solid black 2px;

    grid-area: I;
    padding-bottom:0 ;
  
   
    margin-left: 0;
    
    
    
    
   
 
   
   
    background-color: cornflowerblue;
   

}


/* footer */
footer{
    border-top: solid black 2px;
    text-align: right;
    background-color: cornflowerblue;
    grid-area: F;
    color: white;
}

